
body { padding-left: 5pt; }
	
h1 { padding: 5pt; border-bottom: solid darkred; }
h2 { padding: 5pt; border-bottom: thin solid darkred; }

p { padding-left: 5pt; }

table { margin-left: 5pt; }

li { padding: 2px; }


.navigation {
    padding-left: 5pt; 
    font-size: larger; }

.warn {
    color: red; }

.larger {
    font-size: larger; }

.indent {
    margin-left: 5pt; }

a:link    { color: darkblue; text-decoration: none; }
a:visited { color: purple; text-decoration: none; }
a:active  { color: darkred; text-decoration: none; }
a:hover   { color: darkred; text-decoration: underline; }

.box {
    border: thin solid black;
    padding-tox: 4pt;
    padding: 8pt; }
